.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}
.appbody{
  display: flex;
  width: 90vw;
  height: 90vh;
  background-color: #e3ebf1;
  margin-top: -10px;
  box-shadow: -2px 10px 20px 1px rgba(0, 0, 0, 0.5)
}